.editor-container {
    display: flex;
    min-height: 800px;
    justify-content: space-around;
}
.canvas-box {
    width: 375px;
    min-height: 664px;
    height: 664px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    top: 80px;
    .canvas {
        position: relative;
        width: 375px;
        min-height: 664px;
        background-color: #fff;
        box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 300ms ease-out;
    }
}